@tailwind base;
@tailwind components;
@tailwind utilities;

.line_progress_animation {
  animation: line_progress_animation_function 0.5s linear forwards;
}
@keyframes line_progress_animation_function {
  0% {
    width: 0px;
  }

  100% {
    width: full;
  }
}
